@import "tailwindcss";

@theme {
  --font-heading: "heading";
  --font-text: "text";

  --animate-openNav: openNav 0.5s forwards;

  --color-neutral: #f2e8d5;
  --color-text: #77797c;
  --color-darker: #1e3219;
  --color-main: #528dd9;
  --color-secondary: #65aeee;
  --color-lighter: #acd1f2;
  --color-accent: #aa463c;
  --color-services-bg: #d0c4ac;
  --color-footer: rgba(208, 196, 172, 0.304);
}

@font-face {
  font-family: "heading";
  src:
    url("/fonts/EtherealDemo-Black.woff2") format("woff2"),
    url("/fonts/EtherealDemo-Black.woff") format("woff"),
    url("/fonts/EtherealDemo-Black.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "text";
  src:
    url("/fonts/SourceSerif4.woff2") format("woff2"),
    url("/fonts/SourceSerif4.woff") format("woff"),
    url("/fonts/SourceSerif4.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}

@keyframes openNav {
  50% {
    border-radius: 0px 0px 70% 30% / 0px 0px 80% 40%;
  }
  100% {
    border-radius: 0px;
  }
}
