---
import Layout from "@/layouts/Layout.astro";
import Header from "@components/Header.astro";
---

<Layout title="Saludo">
  <Header />
  <h1>¡Hola, mundo!</h1>
  <p>Bienvenido a mi sitio web.</p>
</Layout>
