---
const DATA_PACKAGE = {
  title: "Custom",
  description:
    "Si tenes clara tu idea, comunicate con nosotros para crear un pack de servicios completamente personalizado.",
  liItems: ["Diseño y desarrollo web", "Logo e identidad visual", "Estrategia de marca"],
} as const;

import Check from "@icons/Check.svg";
import ComputerPkg from "@icons/ComputerPkg.svg";
import PackageButton from "@components/Home/PackageButton.astro";
---

<li class="md:cols-span-2 flex lg:col-span-3" data-aos="zoom-in" data-aos-duration="600">
  <article
    class="border-accent text-text relative mx-auto w-full rounded-4xl border-4 border-dashed p-4 font-bold lg:col-span-3 lg:mx-0 lg:max-w-full"
  >
    <ComputerPkg class="absolute right-0 -bottom-6 w-20 xl:w-30" />
    <div class="items-center xl:mb-6 xl:flex xl:justify-around">
      <div>
        <h3 class="text-accent mb-4 text-6xl">{DATA_PACKAGE.title}</h3>
        <p class="mb-4 text-xl leading-none xl:max-w-[30ch]">{DATA_PACKAGE.description}</p>
      </div>
      <ul class="my-8 text-2xl md:text-3xl xl:mb-0">
        {
          DATA_PACKAGE.liItems.map((item) => (
            <li class="flex items-center gap-2">
              <Check width="20" height="20" />
              {item}
            </li>
          ))
        }
      </ul>
      <PackageButton text="Consultar" class="mx-auto mt-0 lg:mx-0" />
    </div>
  </article>
</li>

<style>
  .outlined-text {
    -webkit-text-stroke: 8px var(--color-lighter);
  }
</style>
