---
import Teapot from "../icons/Teapot.astro";
import Teacup from "../icons/Teacup.astro";

const items = [
  "Acompañamos a marcas a construir su presencia digital desde la autenticidad y el diseño consciente.",
  "Desde logotipos hasta interfaces, creamos diseños visuales que cuentan historias y dejan huella.",
];
---

<section
  id="description"
  class="text-text mx-auto mb-20 max-w-[95%] rounded-4xl px-6 py-10 shadow-xl"
>
  <Teapot width="60" height="60" class="absolute -top-8 left-0" />
  <Teacup width="60" height="60" class="absolute -right-2 -bottom-6" />
  <div>
    <h3 class="mb-6 text-[clamp(1.4rem,4vw,1.65rem)] font-bold">
      Somos un estudio de diseño y desarrollo web inspirado en la cultura japonesa. Creamos marcas
      que destacan y experiencias digitales que conectan.
    </h3>
    <ul class="flex flex-col justify-between gap-3 md:flex-row">
      {
        items.map((li) => (
          <li class="max-w-[40ch] text-xl text-balance md:text-[1.4rem] md:last:text-right">
            {li}
          </li>
        ))
      }
    </ul>
  </div>
</section>
