---
const items = [
  {
    title: "¿Que formas de pago aceptan?",
    description:
      "Aceptamos transferencias bancarias (Argentina) y PayPal (Para pagos internacionales). También podemos charlar otras opciones según el caso.",
  },
  {
    title: "¿Como es el proceso de trabajo?",
    description:
      "El proceso de trabajo es el siguiente: Primero charlamos sobre tu proyecto, tus necesidades y objetivos. Luego te enviamos una propuesta con un presupuesto y un plan de trabajo. Si estás de acuerdo, comenzamos a trabajar en tu proyecto y te mantenemos informado durante todo el proceso.",
  },
  {
    title: "¿Puedo contratar solo la parte de diseño o solo la parte de desarrollo?",
    description:
      "Sí, ofrecemos servicios de diseño y desarrollo por separado. Puedes contratar solo la parte de diseño o solo la parte de desarrollo, según tus necesidades.",
  },
  {
    title: "¿Los precios están en pesos argentinos o dólares?",
    description:
      "Los precios están en pesos argentinos, pero podemos aceptar pagos en pesos dolares al tipo de cambio del día.",
  },
  {
    title: "¿Puedo pedir cambios después de contratar un paquete?",
    description:
      "Sí, puedes pedir cambios después de contratar un paquete. Sin embargo, ten en cuenta que algunos cambios pueden requerir un ajuste en el presupuesto y el tiempo de entrega.",
  },
  {
    title: "¿Que pasa si necesito ayuda una vez que el proyecto está terminado?",
    description:
      "Ofrecemos soporte post-entrega para asegurarnos de que estés satisfecho con el resultado final. Si necesitas ayuda después de que el proyecto esté terminado, no dudes en contactarnos y estaremos encantados de ayudarte.",
  },
];
---

<section id={"faqs"} class="text-text mx-auto py-20 font-bold lg:w-[90%]">
  <h2 class="text-accent mb-8 text-center text-4xl leading-none md:text-5xl">
    Preguntas <span class="block md:inline">Frecuentes</span>
  </h2>

  <ul>
    {
      items.map((i) => (
        <li class="border-t-text overflow-hidden border-t px-4 pt-2 first:border-none">
          <h3 class="pb-4">
            <button class="flex w-full items-center justify-between text-left text-xl hover:cursor-pointer md:text-2xl">
              {i.title}
              <span class="text-3xl font-normal transition-transform duration-200">+</span>
            </button>
          </h3>

          <div class="max-h-0 font-normal transition-[max-height] duration-300">
            <div class="pb-4">
              <p class="text-xl">{i.description}</p>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</section>

<script>
  document.querySelectorAll("#faqs li").forEach((faq) => {
    faq.addEventListener("click", (e) => {
      const targetedFaq = e.currentTarget;
      const faqDescription = targetedFaq.querySelector("div");
      const btn = targetedFaq.querySelector("button span");

      // no matter if is open or close, toggle rotate for button
      btn.classList.toggle("-rotate-45");

      // if maxHeight is not empty means that menu is open
      const isOpen = faqDescription.style.maxHeight !== "";

      // create the new height based on scroll height of parent container
      const faqDescriptionHeight = isOpen ? null : `${targetedFaq.scrollHeight}px`;

      // assign height to description container
      faqDescription.style.maxHeight = faqDescriptionHeight;
    });
  });
</script>
