---
import Star from "@icons/Star.svg";

const { badgeText }: { badgeText: string } = Astro.props;
---

<div class="flex justify-center">
  <span
    class="bg-accent text-neutral absolute -top-6 flex items-center gap-2 rounded-xl px-4 py-2"
    data-aos="fade-down"
    data-aos-once="true"
  >
    <Star class="w-6" />
    {badgeText}
  </span>
</div>
