---
import WomenCharacter from "@icons/WomenCharacter.svg";
import ServiceCard from "@components/Home/ServiceCard.astro";
---

<section id="services" class="lazy-section mx-auto mb-20 max-w-20/21 text-center">
  <div>
    <h2 class="text-accent text-[clamp(2.3rem,3vw,3.2rem)] font-bold">Servicios</h2>
    <p class="text-text text-xl text-[clamp(1.25rem,3vw,1.5rem)] font-semibold text-balance">
      Mezcla y combina nuestros servicios para que encajen con tus necesidades.
    </p>
  </div>
  <ServiceCard />
</section>
