---
import WomenCharacter from "@icons/WomenCharacter.svg";
import ServiceCard from "@components/Home/ServiceCard.astro";
---

<section
  id="services"
  class="lazy-section mx-auto flex max-w-20/21 items-center gap-20 text-center"
>
  <div data-aos="fade-up">
    <h2 class="text-accent text-[clamp(2.3rem,3vw,3.2rem)] font-bold">Servicios</h2>
    <p class="text-text mx-auto max-w-lg text-2xl font-semibold text-pretty">
      Mezcla y combina nuestros servicios para que encajen con tus necesidades.
    </p>
    <ServiceCard />
  </div>
  <WomenCharacter width={400} height={400} data-aos="fade-left" />
</section>
