---
import EnhancedIcon from "@icons/EnhancedPerson.svg";
import CloudIcon from "@icons/Cloud.svg";
---

<article
  class="bg-accent text-neutral relative mx-auto my-8 aspect-square max-h-72 max-w-80 rounded-4xl leading-none shadow-2xl md:max-w-96"
>
  <div class="flex h-full flex-col justify-around p-6">
    <div class="flex items-center gap-2">
      <EnhancedIcon class="w-40" />
      <h3 class="text-4xl text-balance">¿Necesitás otra cosa?</h3>
    </div>
    <p class="text-left text-2xl text-balance">
      Contactanos para ver como podemos adaptarnos a tus necesidades.
    </p>
  </div>
  <CloudIcon class="absolute -right-2 -bottom-4" width={100} />
</article>
