---
import { actions } from "astro:actions";
---

<form id="contact-form" class="mx-auto w-1/2"></form>

<script>
  import { actions } from "astro:actions";
  const $form = document.getElementById("contact-form");
  $form?.addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = new FormData($form);
    const email = formData.get("email");
    const message = formData.get("message");

    console.log({ email, message });

    const { data, error } = await actions.sendContactInfo({ email, message });

    if (error) return console.log("There is an error! 😪");
    console.log(data);
  });
</script>
