---
import { Image } from "astro:assets";
import CharacterImage from "@icons/CharacterIcon.astro";
import { ContactForm } from "@components/Contact/ContactForm.tsx";
---

<main class="my-10 h-full">
  <div
    class="text-neutral bg-main relative mx-auto mt-8 mb-8 w-[90%] rounded-xl p-4 shadow-xl md:w-2xl"
  >
    <h1 class="font-heading mb-4 text-center text-3xl">Formulario de contacto</h1>
    <ContactForm client:load />
    <div>
      <CharacterImage
        class="absolute -bottom-4 -left-4 h-40 w-40 md:-bottom-15 md:-left-15 md:h-60 md:w-60"
      />
    </div>
  </div>
</main>
