---
import ComputerIcon from "@icons/Computer.astro";
import CompanyIcon from "@icons/Company.astro";
import CreatorsIcon from "@icons/Creators.astro";
import JapanWomenIcon from "@icons/Japanwomen.astro";
import RamenIcon from "@icons/Ramen.astro";

const targets = [
  {
    icon: ComputerIcon,
    heading: "Comercios",
    description:
      "Diseñamos tiendas online intuitivas y optimizadas par mejorar la experiencia del usuario y aumentar tus ventas. ",
  },
  {
    icon: CompanyIcon,
    heading: "Pymes",
    description:
      "Desarrollamos soluciones digitales escalables que fortalecen tu presencia online y comunican el valor de tu marca.",
  },
  {
    icon: CreatorsIcon,
    heading: "Creadores",
    description:
      "Construimos plataformas personalizadas que potencian tu contenido y reflejan tu identidad de forma auténtica.",
  },
];
---

<section class="bg-main text-neutral mb-20 p-6">
  <JapanWomenIcon width={60} height={60} class="absolute -top-14 left-0 h-20 w-20" />
  <RamenIcon width={60} height={60} class="absolute right-2 -bottom-10 h-20 w-20" />
  <div class="md:mx-auto md:max-w-[90%]">
    <h2 class="text-[clamp(2rem,5vw,3rem)] font-bold text-pretty">
      Clientes diversos, ideas unicas
    </h2>
    <ul class="md:mx-auto md:mt-8 md:flex md:justify-self-center">
      {
        targets.map(({ icon: Icon, heading, description }) => {
          return (
            <li class="mb-8">
              <Icon width={95} height={95} />
              <h3 class="mb-2 text-[clamp(1.6rem,5vw,2.5rem)] font-bold">{heading}</h3>
              <p class="text-xl text-balance">{description}</p>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
