---
import { Image } from "astro:assets";
import CharacterImage from "@icons/Hero.astro";
---

<main class="relative mb-20 h-full">
  <div class="text-neutral bg-main mx-auto mt-8 mb-8 w-[90%] rounded-xl p-4 shadow-xl">
    <h1 class="font-heading mb-4 text-center text-3xl">Formulario de contacto</h1>
    <form>
      <div class="mb-4 flex flex-col">
        <label for="email" class="text-1xl font-text mb-1 ml-1 font-bold">Coloque su email:</label>
        <div
          class="input-container bg-lighter focus:outline-neutral rounded-2xl opacity-80 transition duration-200 focus:outline-2 focus:outline-solid"
        >
          <input
            id="email"
            name="email"
            type="email"
            required
            class="ml-0.5 w-full rounded-2xl border-none bg-transparent p-2 text-xl opacity-100 focus-within:border-none focus-within:outline-none"
          />
        </div>
      </div>
      <div class="mb-16 flex flex-col">
        <label for="query" class="text-1xl font-text mb-1 ml-1 font-bold">Coloque su consulta</label
        >
        <div
          class="input-container bg-lighter focus:outline-neutral rounded-2xl opacity-80 transition duration-200 focus:outline-2 focus:outline-solid"
        >
          <textarea
            class="ml-0.5 w-full resize-none overflow-y-auto rounded-2xl border-none bg-transparent p-2 text-xl opacity-100 focus-within:border-none focus-within:outline-none"
            name="query"
            id="query"
            rows="6"
            cols="30"></textarea>
        </div>
      </div>

      <p class="flex justify-end font-bold">
        <button
          class="bg-accent durationduration-300 rounded-xl p-2 text-2xl transition-transform hover:scale-105 hover:cursor-pointer"
          type="submit">Enviar consulta</button
        >
      </p>
    </form>
    <div class="absolute bottom-0 left-0 w-50">
      <CharacterImage />
    </div>
  </div>
</main>
