---
const dataPackage = {
  title: "Custom",
  description:
    "Si tenes clara tu idea, comunicate con nosotros para crear un pack de servicios completamente personalizado.",
  liItems: [
    "Diseño y desarrollo web",
    "Logo e identidad visual",
    "Estrategia de marca",
  ],
};
---

<article class="custom-package">
  <h3>{dataPackage.title}</h3>
  <p>{dataPackage.description}</p>
  <ul>
    {dataPackage.liItems.map((item) => <li>{item}</li>)}
  </ul>
  <span><small class="outlined-text">Precio Total</small>A calcular</span>
  <button>Adquirir</button>
</article>

<style>
  article {
    border: 4px dashed var(--color-accent);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-inline: 1rem;
    font-weight: bold;
    color: var(--color-text);
    display: grid;

    h3 {
      color: var(--color-accent);
      font-size: clamp(60px, 10vw, 64px);
      text-transform: capitalize;
    }
    p {
      font-size: 1.3rem;
      line-height: 1;
      margin-bottom: 1rem;
    }

    ul {
      margin-bottom: 2.2rem;
    }
    li {
      font-size: clamp(22px, 3vw, 28px);
    }

    li::before {
      content: "\2713";
      margin-right: 0.5rem;
    }
    span {
      background: var(--color-lighter);
      border-radius: 2rem;
      color: var(--color-neutral);
      display: block;
      margin: 0 auto;
      font-size: clamp(36px, 3vw, 34px);
      font-weight: bold;
      padding: 0.8rem 1.3rem;
      position: relative;
      small {
        font-size: clamp(20px, 3vw, 24px);
        position: absolute;
        top: -1rem;
        left: -1rem;
        transform: rotate(-10deg);
      }
    }
    .outlined-text {
      -webkit-text-stroke: 8px var(--color-lighter);
    }
    button {
      background: var(--color-accent);
      border-radius: 1rem;
      color: var(--color-neutral);
      display: block;
      font-size: clamp(22px, 3vw, 28px);
      font-weight: bold;
      margin: 0 auto;
      margin-top: 2rem;
      padding: 0.8rem 1.2rem;
    }
  }

  @media (width>=768px) {
    article {
      grid-template-areas:
        "title list"
        "description list"
        "price button";
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      justify-content: center;
      margin: 0;
    }
    h3 {
      grid-area: title;
    }
    p {
      grid-area: description;
    }
    ul {
      grid-area: list;
      margin: 0 auto;
      grid-row: 1 / span 3;
      align-content: center;
    }
    span {
      grid-area: price;
    }
    button {
      grid-area: button;
      transition: scale 0.3s;
      &:hover {
        scale: 1.05;
        cursor: pointer;
      }
    }
  }
</style>
