---
const dataPackage = {
  title: "Custom",
  description:
    "Si tenes clara tu idea, comunicate con nosotros para crear un pack de servicios completamente personalizado.",
  liItems: ["Diseño y desarrollo web", "Logo e identidad visual", "Estrategia de marca"],
};

import Check from "@icons/Check.astro";
import ComputerPkg from "@icons/ComputerPkg.astro";
---

<article
  class="border-accent text-text relative rounded-4xl border-4 border-dashed p-4 font-bold xl:col-span-3 xl:mt-4 xl:max-h-fit"
>
  <ComputerPkg class="absolute right-0 -bottom-6 w-20 xl:w-30" />
  <div class="items-center xl:mb-6 xl:flex xl:justify-around">
    <div>
      <h3 class="text-accent mb-4 text-6xl">{dataPackage.title}</h3>
      <p class="mb-4 text-xl leading-none xl:max-w-[30ch]">{dataPackage.description}</p>
    </div>
    <ul class="mb-9 text-2xl md:text-3xl xl:mb-0">
      {
        dataPackage.liItems.map((item) => (
          <li class="flex items-center gap-2">
            <Check width="20" height="20" />
            {item}
          </li>
        ))
      }
    </ul>
  </div>
  <div class="xl:flex">
    <span class="bg-lighter text-neutral relative mx-auto block w-fit rounded-4xl p-4 text-4xl"
      ><small class="outlined-text absolute -top-4 -left-4 -rotate-10 text-2xl">Precio Total</small
      >A calcular</span
    >
    <button class="bg-accent text-neutral mx-auto mt-4 block rounded-2xl p-4 text-2xl md:text-3xl"
      >Adquirir</button
    >
  </div>
</article>

<style>
  .outlined-text {
    -webkit-text-stroke: 8px var(--color-lighter);
  }
</style>
