---
import FooterIcon from "@icons/Footer-icon.svg";
import HouseIcon from "@icons/House.svg";
import ServicesIcon from "@icons/Services.svg";
import PackagesIcon from "@icons/Packages.svg";
import FAQsIcon from "@icons/Faqs.svg";
import EmailIcon from "@icons/Email.svg";
import InstagramIcon from "@icons/Instagram.svg";

const date = new Date();
const currentYear = date.getFullYear();

const links = [
  { Icon: HouseIcon, text: "Inicio", href: "/" },
  { Icon: ServicesIcon, text: "Servicios", href: "/#services" },
  { Icon: PackagesIcon, text: "Paquetes", href: "/#packages" },
  { Icon: FAQsIcon, text: "FAQs", href: "/#faqs" },
  { Icon: EmailIcon, text: "Contacto", href: "/contact" },
  {
    Icon: InstagramIcon,
    text: "Instragram",
    href: "https://www.instagram.com/nagare.studio",
  },
];
---

<footer>
  <div>
    <div class="icon-container"><FooterIcon /></div>
    <nav>
      <ul>
        {
          links.map(({ Icon, text, href }) => (
            <li>
              <a
                href={href}
                target={href.startsWith("https") ? "_blank" : "_self"}
              >
                <span>
                  <Icon />
                </span>
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <p>Nagare studio {currentYear}. Todos los derechos reservados</p>
</footer>

<style>
  footer {
    background: rgba(208, 196, 172, 0.304);
    padding-top: 3rem;
    text-align: center;
    color: var(--color-accent);
    font-weight: bold;
    .container-icon {
      width: 100%;
    }
    ul {
      display: grid;
      justify-content: center;
      gap: 10px;
    }
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 1.2rem;
      span {
        display: flex;
      }
    }

    p {
      padding-block: 1rem;
      color: var(--color-text);
    }
  }
  @media (width >= 768px) {
    footer {
      padding-top: 1rem;
    }
    footer > div {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    footer ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
