---
import EmailIcon from "@icons/Email.svg";
import FAQsIcon from "@icons/Faqs.svg";
import FooterIcon from "@icons/Footer-icon.svg";
import HouseIcon from "@icons/House.svg";
import InstagramIcon from "@icons/Instagram.svg";
import PackagesIcon from "@icons/Packages.svg";
import ServicesIcon from "@icons/Services.svg";

const date = new Date();
const currentYear = date.getFullYear();

const LINKS = [
  { Icon: HouseIcon, text: "Inicio", href: "/" },
  { Icon: ServicesIcon, text: "Servicios", href: "/#services" },
  { Icon: PackagesIcon, text: "Paquetes", href: "/#packages" },
  { Icon: FAQsIcon, text: "FAQs", href: "/#faqs" },
  { Icon: EmailIcon, text: "Contacto", href: "/contact" },
  {
    Icon: InstagramIcon,
    text: "Instragram",
    href: "https://www.instagram.com/nagare.studio",
  },
] as const;
---

<footer class="bg-footer text-accent lazy-section pt-12 text-center font-bold">
  <div class="mb-8 lg:flex lg:justify-evenly lg:gap-8">
    <FooterIcon width="350" height="110" class="mx-auto block md:flex-1" />
    <nav class="flex-1">
      <ul class="my-4 grid justify-center gap-4 md:grid-cols-3">
        {
          LINKS.map(({ Icon, text, href }) => (
            <li class="md:justify-self-center" key={href}>
              <a
                class="flex items-center gap-2 text-xl"
                href={href}
                target={href.startsWith("https") ? "_blank" : "_self"}
              >
                <span>
                  <Icon />
                </span>
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <p class="text-text py-4">Nagare studio {currentYear}. Todos los derechos reservados</p>
</footer>
