---
import HeaderIcon from "../icons/Header.astro";
import BurgerIcon from "../icons/Burguer.astro";

const navItems = [
  {
    href: "/#packages",
    text: "Precios",
  },
  {
    href: "/#description",
    text: "Sobre nosotros",
  },
  {
    href: "/contact",
    text: "Contacto",
  },
];
---

<header id="header" class="group">
  <div class="flex items-center justify-between overflow-hidden p-4">
    <div class="">
      <a href="/">
        <HeaderIcon />
      </a>
    </div>

    <label
      for="menu"
      class="relative z-20 transition-transform duration-300 group-has-checked:-rotate-45 active:scale-105 md:hidden"
    >
      <BurgerIcon />
      <input type="checkbox" id="menu" class="hidden" />
    </label>
    <nav
      class="group-has-checked:animate-openNav group-has-checked:bg-neutral absolute inset-0 z-10 grid min-h-screen -translate-y-full place-content-center ease-linear group-has-checked:translate-y-0 group-has-checked:duration-300 md:relative md:min-h-auto md:translate-0"
    >
      <ul
        class="font-text text-main flex flex-col gap-8 text-center text-2xl font-bold md:flex-row"
      >
        {
          navItems.map(({ href, text }) => (
            <li class="transition-transform active:scale-105 md:hover:scale-105 md:hover:text-shadow-sm">
              <a href={href}>{text}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<script>
  document.querySelectorAll("nav a").forEach((link) => {
    link.addEventListener("click", () => {
      document.querySelector("#menu").checked = false;
    });
  });
</script>
