---
import Package from "@components/Package.astro";
import CustomPackage from "@components/CustomPackage.astro";

const PACKAGES = [
  {
    title: "takumi",
    details: [
      { title: "identidad visual", description: "..." },
      { title: "diseño web", description: "..." },
    ],
    price: "710.000",
    kanji: "たくみ",
  },
  {
    title: "hajime",
    details: [
      { title: "identidad visual", description: "..." },
      { title: "diseño web", description: "..." },
    ],
    price: "380.000",
    kanji: "始め",
  },
  {
    title: "naka",
    details: [
      { title: "identidad visual", description: "..." },
      { title: "diseño web", description: "..." },
    ],
    price: "550.000",
    kanji: "なか",
  },
];
---

<section
  id="packages"
  class="lazy-section mx-auto my-30 flex max-w-11/12 flex-col gap-10 xl:max-w-300"
>
  <h2 class="text-main text-center text-4xl font-bold md:text-5xl">
    Que tu <span class="block md:inline">marca fluya!</span>
  </h2>
  <ul class="grid items-stretch gap-4 md:grid-cols-2 lg:grid-cols-3">
    {
      PACKAGES.map((p, i) => {
        const { title, details, price, kanji } = p;
        return (
          <Package title={title} details={details} price={price} kanji={kanji} icon={i === 0} />
        );
      })
    }
    <CustomPackage />
  </ul>
</section>
