---
import Package from "@components/Package.astro";
import CustomPackage from "@components/CustomPackage.astro";
const packages = [
  {
    title: "takumi",
    details: [
      { title: "identidad visual", description: "..." },
      { title: "diseño web", description: "..." },
    ],
    price: "710.000",
    kanji: "たくみ",
  },
  {
    title: "hajime",
    details: [
      { title: "identidad visual", description: "..." },
      { title: "diseño web", description: "..." },
    ],
    price: "380.000",
    kanji: "始め",
  },
  {
    title: "naka",
    details: [
      { title: "identidad visual", description: "..." },
      { title: "diseño web", description: "..." },
    ],
    price: "550.000",
    kanji: "なか",
  },
];
---

<section id="packages" class="mx-auto mb-20 max-w-120 lg:max-w-[90%]">
  <div>
    <h2 class="text-main mb-12 text-center text-4xl font-bold md:text-5xl">
      Que tu <span class="block md:inline">marca fluya!</span>
    </h2>
    <div class="grid gap-15 md:auto-rows-fr lg:w-full lg:grid-cols-2 lg:gap-10 xl:grid-cols-3">
      {
        packages.map((p, i) => {
          const { title, details, price, kanji } = p;
          return (
            <Package title={title} details={details} price={price} kanji={kanji} icon={i === 0} />
          );
        })
      }
      <CustomPackage />
    </div>
  </div>
</section>
