---
import { ClientRouter } from "astro:transitions";
import Font from "astro/components/Font.astro";
interface LayoutProps {
  title: string;
}

const { title = "" }: LayoutProps = Astro.props;

const titleToShow = title ? `- ${title}` : "";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <meta
      name="description"
      content="Nagare - Ofrecemos soluciones digitales para empresas y particulares"
    />
    <title>Nagare {titleToShow}</title>
    <ClientRouter />
    <Font cssVariable="--font-text" preload />
    <Font cssVariable="--font-heading" preload />
  </head>
  <body class="bg-neutral font-text animate-blurred-fade-in">
    <slot />
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  @import "tailwind-animations";

  @theme {
    --font-heading: var(--font-heading);
    --font-text: var(--font-text);

    --animate-openNav: openNav 0.5s forwards;

    --color-neutral: #f2e8d5;
    --color-text: #77797c;
    --color-darker: #1e3219;
    --color-main: #528dd9;
    --color-secondary: #65aeee;
    --color-lighter: #acd1f2;
    --color-accent: #aa463c;
    --color-footer: rgba(208, 196, 172, 0.304);
  }

  @keyframes openNav {
    50% {
      border-radius: 0px 0px 70% 30% / 0px 0px 80% 40%;
    }
    100% {
      border-radius: 0px;
    }
  }

  :root {
    scroll-behavior: smooth;
  }
  section,
  header {
    position: relative;
  }

  /* prevent that body can be scrolleable with the navbar deployed */
  body:has(#menu:checked) {
    overflow: hidden;
  }

  .outlined-text {
    -webkit-text-stroke: 8px var(--color-neutral);
    /* for default the browser paint the fill first and later the stroke, it determines that the browser have to paint first the stroke and later the fill */
    /* with this the filling is painted over the stroke making that it doesnt take space from the text */
    paint-order: stroke fill;
  }
</style>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";

  const init = () => {
    const config = {
      duration: 800,
    };

    AOS.init(config);
  };

  document.addEventListener("astro:page-load", init);
</script>
