---
import { ClientRouter } from "astro:transitions";
interface LayoutProps {
  title: string;
}

const { title = "" }: LayoutProps = Astro.props;

const titleToShow = title ? `- ${title}` : "";

import "@styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <meta
      name="description"
      content="Nagare - Ofrecemos soluciones digitales para empresas y particulares"
    />
    <title>Nagare {titleToShow}</title>
    <ClientRouter />
  </head>
  <body class="bg-neutral font-text">
    <slot />
  </body>
</html>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";

  const init = () => {
    const config = {
      duration: 800,
    };

    AOS.init(config);
  };

  document.addEventListener("astro:page-load", init);
</script>
