---
import { ClientRouter } from "astro:transitions";

const { title = "" } = Astro.props;

const titleToShow = title ? `- ${title}` : "";

import "@styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nagare {titleToShow}</title>
    <ClientRouter />
  </head>
  <body class="bg-neutral font-text">
    <slot />
  </body>
</html>

<style is:global>
  section,
  header {
    position: relative;
  }

  /* prevent that body can be scrolleable with the navbar deployed */
  body:has(#menu:checked) {
    overflow: hidden;
  }

  .outlined-text {
    -webkit-text-stroke: 8px var(--color-neutral);
    /* for default the browser paint the fill first and later the stroke, it determines that the browser have to paint first the stroke and later the fill */
    /* with this the filling is painted over the stroke making that it doesnt take space from the text */
    paint-order: stroke fill;
  }
</style>
